PORT=3000
MONGO_URL= mongodb://mongo:jlNUsIcGtxeFpCXjqCtwVblWAnIrImEh@mongodb.railway.internal:27017
SESSION_SECRET=your_secure_session_secret
GOOGLE_CLIENT_ID=416902305895-5k3d714uutqvrums5a03aauige9dt2ed.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
FACEBOOK_APP_ID=your_facebook_app_id
FACEBOOK_APP_SECRET=your_facebook_app_secret
ADMIN_USER=admin
ADMIN_PASS=admin123